@import './lib/vars.scss';
@import './lib/mixins.scss';

.lui_icon_s_home {
    background-image: url(../images/icon-primary/icon-home@2x.png);
    background-size: 16px;
}

/*大图标*/

//爱关怀 icon
.lui_icon_l_aiguanhuai {
    background-image: url(../icon/l-2x/aiguanhuai@2x.png);
}

// .lui_dataview_picmenu_on .lui_icon_l_aiguanhuai,
.lui_dataview_picmenu_more_on .lui_icon_l_aiguanhuai,
.lui_icon_on .lui_icon_l_aiguanhuai,
.lui_dataview_picmenu_table_on .lui_icon_l_aiguanhuai {
    background-image: url(../icon/l-on-2x/aiguanhuai@2x.png);
}

//more icon
.lui_icon_l_icon_more {
    background-image: url(../icon/l-2x/icon_more@2x.png);
}

.lui_icon_on .lui_icon_l_icon_more,
.lui_dataview_picmenu_on .lui_icon_l_icon_more,
.lui_dataview_picmenu_more_on .lui_icon_l_icon_more,
.lui_dataview_picmenu_table_on .lui_dataview_picmenu_icon {
    background-image: url(../icon/l-on-2x/icon_more@2x.png);
}

// 图标
@for $i from 1 through 89 {

    .lui_icon_l_icon_#{$i},
    .lui_profile_iconSelect_content .lui_icon_l_icon_#{$i} {
        background-image:url(../icon/l-2x/icon_#{$i}@2x.png);
    }

    // 鼠标悬浮图标
    .lui_dataview_picmenu_on .lui_icon_l_icon_#{$i},
    // 图标文本表格 悬浮图标
    .lui_dataview_picmenu_table_on .lui_icon_l_icon_#{$i},
    // 后台配置页 选择图标弹框 鼠标悬浮
    .lui_icon_on .lui_icon_l_icon_#{$i} {
        background-image:url(../icon/l-on-2x/icon_#{$i}@2x.png);
    }

    .lui_list_create_frame .lui_dataview_picmenu_on .lui_icon_l_icon_#{$i} {
        background-image:url(../icon/l-2x/icon_#{$i}@2x.png);
    }
}

.lui_icon_l {
    background-size: 34px auto;
}