/* Login page CSS */
body.login-page {
  background: #2C615C;
  color: #FFFFFF;
}

.login-container {
  border: 2px solid #2C615C;
}

.login-button {
  background-color: #2C615C;
  color: white;
}

.login-button:hover {
  background-color: #228077;
}

.login-links a {
  color: #2C615C;
  text-decoration: none;
}

.login-links a:hover {
  color: #228077;
}
