// V12-V17 SCSS variables
$primary-color: #2C615C;
$primary-color-hover: #234e48;
$secondary-color: #4A90E2;
$third-color: #F5A623;
$sidebar-panel-bg: #FBF9EB;
$link-text-color: #2C615C;
$link-text-hover-color: #234e48;
